.transactionDetails {
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.status {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.headers {
  display: grid;
  grid-template-columns: 50% 30% 20%;
  gap: 20px;
  align-items: center;
}

.headerItem {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.values {
  display: grid;
    grid-template-columns: 30% 42% 11.5%;
  gap: 20px;
  align-items: center;
}

.skinInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.skinImage {
  border-radius: 8px;
  flex-shrink: 0;
}

.skinName {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.gameValue {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  min-width: 60px;
}

.priceValue {
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-align: right;
  min-width: 80px;
}