.infoSection {
  width: 100%;
  margin-top: 40px;
}

.text {
  color: #FFF;
  font-family: 'SF Pro Text', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px; // 157.143%
  margin: 0;
  text-align: left;
}