.section {
  padding: 60px 0;
  background: var(--inskins-bg-primary);
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 900px) {
    padding: 0 32px;
  }
}

.title {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
  margin: 0 0 35px 0;

  @media (max-width: 900px) {
    font-size: 24px;
  }
}


.stats {
  display: flex;
  align-items: center;
  gap: 50px;

  @media (max-width: 1280px) {
    gap: 40px;
  }
    @media (max-width: 900px) {
    gap: 20px;
  }
}

.statItem {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  position: relative;
   @media (max-width: 1280px) {
    gap: 40px;
  }
  @media (max-width: 900px) {
    gap: 20px;
  }
}

.value {
  color: #fff;
  text-align: center;
  font-size: 43px;
  font-weight: 600;
  line-height: 34px;
  margin-bottom: 20px;
  @media (max-width: 900px) {
    font-size: 38px;
  }
}

.label {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  opacity: 0,8;
  @media (max-width: 900px) {
    font-size: 14px;
  }
}

.separator {

  width: 1px;
  height: 43px;
  background: #49aa19;
}




