.card {
  border-radius: 10px;
  border: 1px solid #404040;
  background: transparent;
  display: flex;
  padding: 13px 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
  cursor: pointer;
  transition: all 0.2s ease;
  min-height: 60px;

  &:hover {
    border-color: #49AA19;
  }

  &.selected {
    border: 1px solid #49AA19;
  }
}

.icon {
  flex-shrink: 0;
}

.title {
  color: #FFF;
  font-size: 12.682px;
  font-weight: 400;
  line-height: 19.929px;
  text-align: center;
}