.profileTabs {
  margin-top: 20px;
}

.tabsNavigation {
  display: flex;
  position: relative;
  margin-bottom: 30px;

  // Серая полоска на всю ширину
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: rgba(43, 43, 43, 0.4);
  }
}

.tabButton {
  background: transparent;
  border: none;
  color:  #B1B1B1;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height:  24px; /* 133.333% */
  display: flex;
padding: 21px 30px;
justify-content: center;
align-items: center;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;

  &:hover {
    color: rgba(255, 255, 255, 0.8);
  }

  &.active {
    color: #fff;

    // Зеленая полоска под активным табом
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background: #49aa19;
      z-index: 1;
    }
  }
}

.tabContent {
  min-height: 400px;
}
